# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/
*.log

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# Turborepo
.turbo/

# React Native
.expo/
.expo-shared/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
server

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary files
tmp/
temp/
